!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1"}
    %script{:src => "https://cdn.jsdelivr.net/npm/chart.js"}
    %script{:src => "https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"}
    %script{:src => "https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"}
    %script{:src => "https://d3js.org/d3.v6.min.js"}
    %script{:src => "https://cdn.jsdelivr.net/npm/chartjs-plugin-deferred@2.0.0/dist/chartjs-plugin-deferred.min.js"}
    %script{:src => "https://cdn.jsdelivr.net/npm/chartjs-plugin-trendline"}
    %script{:src => "chart_settings.js"}
    = stylesheet_link_tag "home"

  %body
    %a{:href => '/about'}
      %p.label About

    .bg1
      %a{:href => "https://www.bangkokpost.com/thailand/general/1785569/revised-forecast-puts-bangkok-underwater-by-2050"}
        .centre Bangkok
    .bg2
      %a{:href => "https://www.aa.com.tr/en/asia-pacific/jakarta-could-be-underwater-by-2030-experts/1017878"}
        .centre Jakarta
    .bg3
      %a{:href => "https://www.aa.com.tr/en/asia-pacific/80-of-maldives-could-be-uninhabitable-by-2050/2412696"}
        .centre Maldives
    .bg4
      %a{:href => "https://media.rff.org/documents/FCO_Infographics.pdf"}
        .centre Miami
    .bg5
      %a{:href => "https://thehill.com/changing-america/sustainability/climate-change/579490-an-expert-explains-how-rising-sea-levels-could/"}
        .centre Venice

    %a{:href => '/about'}
      %p.label Image sources can be found on the About page.

    %p.label Everything you read or see here is sourced - hover over text for further information.

    %h1 This isn't a tourism website.
    %h2 These places are all at risk of being wholly or partially destroyed by the effects of climate change - several by 2050.

    %hr

    .chart
      %canvas#chart1

    %script{:src => "chart_1.js"}

    %p.label *Mean temperature refers to the pre-industrial average

    %a{:href => "https://ourworldindata.org/atmospheric-concentrations"}
      %p.label Atmospheric CO₂ concentration data courtesy of Our World in Data

    %a{:href => "https://data.giss.nasa.gov/gistemp/"}
      %p.label Deviation from mean temperature data courtesy of NASA

    %a{:href => "https://ourworldindata.org/explorers/climate-change?facet=none&hideControls=true&Metric=CO%E2%82%82+concentrations&Long-run+series%3F=true&country=~OWID_WRL"}
      %p The concentration of carbon dioxide in our atmosphere never exceeded 300 parts per million (ppm) in the last 800,000 years.

    %a{:href => "https://ourworldindata.org/co2-and-other-greenhouse-gas-emissions"}
      %p Today, however, this figure is rapidly approaching 420ppm - and as it climbs further and further, global temperatures will continue to rise too.

    %a{:href => "https://climate.nasa.gov/faq/17/do-scientists-agree-on-climate-change/"}
      %p The vast majority of scientists agree that climate change is the result of human activity - and the data proves it.

    %a{:href => "https://www.acs.org/content/acs/en/climatescience/greenhousegases/industrialrevolution.html"}
      %p The fact that these changes in climate have only been noticeable in the last 200 years is no coincidence - they line up perfectly with the onset of the Industrial Revolution, when humans started to burn fossil fuels.

    %a{:href => "https://www.metoffice.gov.uk/weather/climate-change/causes-of-climate-change"}
      %p Increasing the concentration of CO₂ and other gases which trap heat in our atmosphere. This temperature rise will heat our oceans and melt our icecaps, causing sea levels to rise.

    %a{:href => "https://www.worldbank.org/en/news/press-release/2021/09/13/climate-change-could-force-216-million-people-to-migrate-within-their-own-countries-by-2050"}
      %p With the combination of higher sea levels and higher temperatures, as many as 216 million people may have to leave their homes before 2050 - and this only refers to people who can migrate within the country they currently live in.

    %hr

    %p Climate change isn't some distant future problem - it is very much already a threat now, and we are already feeling the effects of it even if it isn't immediately obvious.

    .chart
      %canvas#chart2

    %script{:src => "chart_2.js"}

    .chart
      %canvas#chart3

    %script{:src => "chart_3.js"}

    %a{:href => "https://www.metoffice.gov.uk/research/climate/maps-and-data/historic-station-data"}
      %p.label Weather data from the Met Office

    %p While these rising temperatures may not be immediately obvious in day to day life, once laid out on a graph they become clear. Over the last 50 years especially:

    %ul
      %li The hottest days are more hot
      %li The coldest days are less cold
      %li The average day is hotter than what it was 50-70 years ago

    %a{:href => "https://www.globalchange.gov/browse/indicator-details/3983"}
      %p Take a moment to think about the last few summers, particularly. Have you noticed that - generally speaking - the hottest day on a given summer is hotter than that of the year before? Have you noticed that heatwaves are more frequent and last longer?

    %a{:href => "https://www.theguardian.com/environment/2021/dec/17/warmer-winters-climate-crisis-scientists"}
      %p Think of winter, too. Have you been seeing less ice and snow? Have you noticed that winter days are often warmer than what they were even five or ten years ago? Warm winters, as pleasant as they may seem at the time, are not normal - they can wreak havoc later in the year.

    %hr

    %p So, we know that climate change is here and that we can already feel it - which begs the question, who or what is responsible for carbon emissions? Where do changes need to be made?

    .pie
      %canvas#chart4

    %script{:src => "chart_4.js"}

    %a{:href => "https://ourworldindata.org/emissions-by-sector"}
      %p.label Data and description from Our World In Data

    %p What this data shows us is that emissions do not simply come from cars, or from electricity production, or from eating meat - emissions are a product of almost every facet of our everyday lives. In some sectors, there are net-zero solutions where implementation is the only remaining hurdle; in others, low-carbon technologies still need to be developed.

    

    %hr

    %a{:href => "https://www.theguardian.com/sustainable-business/2017/jul/10/100-fossil-fuel-companies-investors-responsible-71-global-emissions-cdp-study-climate-change"}
      %p Since 1988, just 100 companies have been responsible for more than 70% of the world's greenhouse gas emissions - most of these are coal or oil producers.

    %a{:href => "https://www.theguardian.com/environment/climate-consensus-97-per-cent/2018/sep/19/shell-and-exxons-secret-1980s-climate-change-warnings"}
      %p Many of these companies knew about the dangers of climate change 40 years ago.

    %a{:href => "https://www.theguardian.com/business/2019/mar/22/top-oil-firms-spending-millions-lobbying-to-block-climate-change-policies-says-report"}
      %p But rather than investing early in renewable energy, these companies spend hundreds of millions a year lobbying against policies that would help curtail the same dangers they knew about decades ago.

    %a{:href => "https://www.undp.org/press-releases/every-dollar-pledged-tackle-climate-crisis-world%E2%80%99s-poor-four-dollars-are-spent"}
      %p Meanwhile, the world spends $423 billion a year on fossil fuel subsidies. All the while, renewable energy becomes cheaper and cheaper:

    .chart
      %canvas#chart5

    %script{:src => "chart_5.js"}

    %a{:href => "https://ourworldindata.org/grapher/onshore-wind-lcoe"}
      %p.label Onshore wind cost data courtesy of Our World in Data

    %a{:href => "https://ourworldindata.org/grapher/solar-pv-prices"}
      %p.label Solar PV module prices data courtesy of Our World in Data

    %hr

    %p If you made it down here, thank you!

    %a{:href => '/about'}
      %p As discussed in the About section, I made this website for my dissertation.

    %a{:href => "https://forms.office.com/Pages/ResponsePage.aspx?id=kyaQa3QQqkCeIdiURqLrtZIw86l4M_ZGkAetDQhwPnVUODJJMjRNNUVZN0NPNTJSTEJFRUFMR0hDMC4u"}
      %p In order to evaluate it, I would really appreciate if you could complete a survey (which can be accessed by clicking this text). It won't take long!
