!!!
%html
  %body
    %a= link_to 'About', '/about'
    %h1 Climate change is already here.
    %h2 And we are the reason why it is happening.
    = stylesheet_link_tag "home"

    %p.label *Mean temperature refers to the pre-industrial average

    %div
      %canvas#myChart

    %script{:src => "https://cdn.jsdelivr.net/npm/chart.js"}
    %script{:src => "https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"}
    %script{:src => "https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"}
    %script{:src => "https://d3js.org/d3.v6.min.js"}

    :javascript
      Chart.defaults.color = '#eeeeee';
      Chart.defaults.borderColor = '#eeeeee';
      Chart.defaults.font.family = "OpenSans-Medium";
      Chart.defaults.font.size = 12;
      Chart.overrides.line.spanGaps = true;
      Chart.overrides.line.tension = 0.25;

      let filename = 'data.csv';

      d3.csv(filename).then(function(loadedData) {

        console.log(loadedData);

        let co2 = [];
        let temp = [];
        let labels = [];

        for (let i=0; i<loadedData.length; i++) {
          console.log(loadedData[i]);

          let concentration = NaN;
          let deviation = loadedData[i].Temperature_deviation;
          if(loadedData[i].CO2_concentration!=''){
            concentration = loadedData[i].CO2_concentration;
          }
          let years = loadedData[i].Year;
          console.log(concentration);
          console.log(deviation);
          console.log(years);

          co2.push(concentration);
          temp.push(deviation);
          labels.push(years);
        }

        const totalDuration = 10000;
        const delayBetweenPoints = totalDuration / labels.length;
        const previousY = (ctx) => ctx.index === 0 ? ctx.chart.scales.y.getPixelForValue(100) : ctx.chart.getDatasetMeta(ctx.datasetIndex).data[ctx.index - 1].getProps(['y'], true).y;

        var ctx = document.getElementById('myChart').getContext('2d');

        var myChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: labels,
            datasets: [{
              label: 'Deviation from mean temperature (°C)',
              borderColor: 'rgba(255, 39, 39, 1)',
              backgroundColor: 'rgba(255, 39, 39, 0.5)',
              borderWidth: 2.5,
              radius: 0,
              data: temp,
              yAxisID: 'y',
            },
            {
              label: 'Concentration of CO₂ in the atmosphere (ppm)',
              borderColor: 'rgba(39, 124, 255, 1)',
              backgroundColor: 'rgba(39, 124, 255, 0.5)',
              borderWidth: 2.5,
              radius: 0,
              data: co2,
              yAxisID: 'y1',
            }]
          },
          options: {
            animation: {
              x: {
                type: 'number',
                easing: 'linear',
                duration: delayBetweenPoints,
                from: NaN,
                delay(ctx) {
                  if (ctx.type !== 'data' || ctx.xStarted) {
                    return 0;
                  }
                  ctx.xStarted = true;
                  return ctx.index * delayBetweenPoints;
                }
              },
              y: {
                type: 'number',
                easing: 'linear',
                duration: delayBetweenPoints,
                from: previousY,
                delay(ctx) {
                  if (ctx.type !== 'data' || ctx.yStarted) {
                    return 0;
                  }
                  ctx.yStarted = true;
                  return ctx.index * delayBetweenPoints;
                }
              }
            },
            responsive: true,
            interaction: {
              mode: 'index',
              intersect: false
            },
            stacked: false,
            plugins: {
              legend: true,
            },
            scales: {
              x: {
                type: 'time',
                time: {
                  unit: 'year',
                  tooltipFormat: 'yyyy',
                },
                displayFormats: {
                  year: 'yyyy',
                },
                grid: {
                  display: false,
                },
                title: {
                  display: true,
                  align: 'center',
                  text: 'Year',
                  font: 'OpenSans-SemiBold'
                }
              },
              y: {
                type: 'linear',
                display: true,
                position: 'left',
                grid: {
                  display: false,
                },
                title: {
                  display: true,
                  align: 'center',
                  text: 'Deviation from mean temperature* (°C)',
                  font: 'OpenSans-SemiBold'
                }
              },
              y1: {
                type: 'linear',
                display: true,
                position: 'right',
                grid: {
                  drawOnChartArea: false,
                },
                title: {
                  display: true,
                  align: 'center',
                  text: 'Concentration of CO₂ in the atmosphere (ppm)',
                  font: 'OpenSans-SemiBold'
                }
              }
            }
          }
        });
      });

    %a{:href => "https://ourworldindata.org/atmospheric-concentrations"}
      %p.label Atmospheric CO₂ concentration data courtesy of Our World in Data

    %a{:href => "https://data.giss.nasa.gov/gistemp/"}
      %p.label Deviation from mean temperature data courtesy of NASA

    %p The concentration of carbon dioxide in our atmosphere never exceeded 300 parts per million (ppm) in the last 800,000 years. Today, however, this figure is rapidly approaching 420ppm - and as it climbs further and further, the higher Earth's temperature rises with it.

    %p The fact that these changes in climate have only been noticeable in the last 200 years are no coincidence. The vast majority of scientists agree that climate change is the result of human activity - primarily burning fossil fuels - increasing the concentration of CO₂ and other gases which trap heat in our atmosphere.
