!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1"}
    = stylesheet_link_tag "home"
  %body

    %a{:href => "/"}
      %p.label Home

    %p Hello! Welcome to this website. I'm Josh, and I made this website for my dissertation as a final year project - the goal was to use data storytelling techniques to portray the climate emergency in a way that is easy to understand - and where the data does a lot of the talking.

    %a{:href => "https://forms.office.com/Pages/ResponsePage.aspx?id=kyaQa3QQqkCeIdiURqLrtZIw86l4M_ZGkAetDQhwPnVUODJJMjRNNUVZN0NPNTJSTEJFRUFMR0hDMC4u"}
      %p In order to evaluate this website, I would really appreciate if you could complete a survey (which can be accessed by clicking this text). It won't take long!

    %p Image sources:

    %ul
      %a{:href => "https://unsplash.com/photos/B64B6-kAWlw"}
        %li Picture of Bangkok (taken by Alejandro Cartagena)
      %a{:href => "https://unsplash.com/photos/mAxA2OmTmKA"}
        %li Picture of Jakarta (taken by Eko Herwantoro)
      %a{:href => "https://unsplash.com/photos/DW2u6LE1p-I"}
        %li Picture of the Maldives (taken by Masroor Ahmed)
      %a{:href => "https://unsplash.com/photos/KDS5lCrj_ew"}
        %li Picture of Miami (taken by Antonio Cuellar)
      %a{:href => "https://unsplash.com/photos/RKsLQoSnuTc"}
        %li Picture of Venice (taken by Henrique Ferreira)

    %p Images taken from Unsplash, which grants me an irrevocable, nonexclusive, worldwide copyright license to download, copy, modify, distribute, perform, and use photos from Unsplash for free, including for commercial purposes, without permission from or attributing the photographer or Unsplash.
