body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.chart {
  position: relative;
  margin: auto;
  min-width: 400px;
  width: 50%;
}

@media only screen and (max-width: 1000px) {
  .chart {
    width: 90%;
    height: 50%;
  }
}

@media only screen and (min-width: 1000px) {
  .chart {
    width: 80%;
    height: 47.5%;
  }
}

@media only screen and (min-width: 1250px) {
  .chart {
    width: 70%;
    height: 45%;
  }
}

@media only screen and (min-width: 1500px) {
  .chart {
    width: 60%;
    height: 42.5%;
  }
}

@media only screen and (min-width: 1750px) {
  .chart {
    width: 50%;
    height: 40%;
  }
}

.pie {
  position: relative;
  margin: auto;
  min-width: 400px;
  width: 35%;
}

.centre {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 72px;
  font-family: "OpenSans-ExtraBoldItalic";
  color: #ffffff;
  text-decoration: none;
}

.bg1{
  background-image: url("bangkok2.png");
  margin: auto;
  position: relative;
  height: 18%;
  //min-width: 600px;
  width: 75%;
  background-position: center 80%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.bg2{
  background-image: url("jakarta2.png");
  margin: auto;
  position: relative;
  height: 18%;
  //min-width: 600px;
  width: 75%;
  background-position: center 70%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.bg3{
  background-image: url("maldives2.png");
  margin: auto;
  position: relative;
  height: 18%;
  //min-width: 600px;
  width: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.bg4{
  background-image: url("miami2.png");
  margin: auto;
  position: relative;
  height: 18%;
  //min-width: 600px;
  width: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.bg5{
  background-image: url("venice2.png");
  margin: auto;
  position: relative;
  height: 18%;
  //min-width: 600px;
  width: 75%;
  background-position: center 70%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover, a:focus, label:hover, label:focus {
  text-decoration: underline;
  text-decoration-color: #eeeeee;
}

hr {
  color: #eeeeee;
  margin: 25px;
}

h1 {
  font-family: "OpenSans-Bold";
  font-size: 36px;
  text-align: center;
  margin: 25px 25px 10px 25px;
}

h2 {
  font-family: "OpenSans-Light";
  font-size: 24px;
  text-align: center;
  margin: 10px 25px 40px 25px;
}

h3 {
  font-family: "OpenSans-Medium";
  font-size: 18px;
  text-align: center;
  margin: 25px;
  color: #eeeeee;
}

p, ul {
  font-family: "OpenSans-Regular";
  font-size: 18px;
  text-align: left;
  margin: 25px;
  color: #eeeeee;
}

li {
  font-family: "OpenSans-Regular";
  font-size: 18px;
  text-align: left;
  margin: 10px;
  color: #eeeeee;
}

.label {
  font-family: "OpenSans-Light";
  font-size: 12px;
  color: #eeeeee;
  text-align: center;
  margin: 5px 25px;
  display: block;
}
